<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Welcome===While your movie is developing, check out some useful tips. Simply swipe to the left to see the next tip. When your clip is done, the Ready button below will turn red.
</string>
	<string>Are we there yet?===Movie Looks uses sophisticated color processing, and this can take time on a mobile device. Remember, it's just a phone, not a supercomputer! Developing can be faster if you use the Half resolution setting, and/or one of the presets from the Quick pack.</string>
	<string>Editing===Movie Looks can work with any video shot on your device, but it is best to trim before you process. Why? The shorter the video, the shorter the developing time. Shorter clips let you focus on color decisions that improve a critical shot.</string>
	<string>Review your Look===Once the developing process is complete, press the Ready button to review the final movie. The video will play in a continuous loop. Once you have finished your review, you'll have a choice between trying a new Look on the same movie, or starting fresh with a new movie.</string>
	<string>Sharing===There are great sharing options built into the Photos app. Developed videos are saved to your Camera Roll, and you can email, MMS, send to MobileMe or YouTube from there using the Photos app. You can use other popular apps to share your movies on Facebook, Flickr, or Twitter.</string>
		<string>Rock steady===A stable camera keeps the motion of the camera from being distracting. Big-budget productions shoot on a steady platform, whether a tripod, a crane or a dolly on tracks. Try using a beanbag or a Joby Gorillapod mount to give your arms a rest and make your shots clean and professional.</string>
	<string>Look Packs===Movie Looks includes 40 looks presets divided into 5 packs: Quick, Essential, Black and White, Popular Film and Blockbusters. Each pack includes eight presets. The Quick and Essential packs are included with Movie Looks. The Black and White, Blockbusters and Popular Film packs can be unlocked through an in-app purchase and are premium looks.</string>
	<string>Quick Group===The Quick pack of Looks includes eight simple color treatments that transform your movie without the more advanced color treatments that the other Looks use. These are great Looks to use when you're in a hurry, as they develop in much less time.</string>
	<string>Essential Pack===The Essential pack contains eight presets that mimic popular film processes. Choose Bleach Bypass to make your movie look like Saving Private Ryan, or Cinematic to increase contrast and develop the image to look like the widescreen aspect ratio of a Hollywood film.</string>
	<string>Tweak your Look===Before you develop your movie, you have a bit of control over the way the Look is applied. Set the Resolution switch to develop at Half or Full resolution. (On an iPhone 4, half resolution is 360p, while full resolution is 720p.) Adjust the Strength slider to blend the look with the original shot. You can also adjust the brightness of your movie.</string>
	<string>Popular Film Looks===This set of 8 premium looks is inspired by Hollywood favorites. Shoot your own crime drama with Crime Scene. Try Curahee for a classic war movie, or make your own Bourne-inspired spy shot with Night Vision. These looks, plus five more (Epic, Hughes, Neo, Night Vision, Ohio, and Warm and Fuzzy) are available as part of the Popular Film Looks Pack!</string>
	<string>Black and White===There're more to black-and-white than the absence of color. These 8 premium looks let you experiment with different levels of contrast and different highlight colors to get the look of silent films (Crush or Sepia), home movies (Hi-Con Glow), or classic tinted effects such as Selenium or Gold Tone. All eight looks are part of the Black and White Looks Pack!</string>
		<string>Blockbusters===Get modern and edgy with premium looks inspired by recent action films. Cold blues and greens contrast with warm skin tones to add drama and make your hero stand out. Choose Connor for a Terminator Salvation-style look, or use Optimus for saturated Transformers-type shadows. All eight Looks add a widescreen aspect ratio and are part of the Blockbuster Looks Pack!</string>
		<string>Video too bright?===Try a Look with a vignette-type effect, such as Bronze or White Diffusion from the Essential pack, and experiment with the Brightness and Strength sliders on the Tweak Your Look screen.</string>
	<string>Video too dark?===Try Looks that decrease contrast and provide a brighter look, such as Soft Faded or Vintage Color from the Quick pack or White Diffusion from the Essential pack. Or experiment in any preset by increasing the Brightness slider on the Tweak Your Look screen.</string>
		<string>Add some romance===Turn your friends and family into romantic heroes by adding some Hollywood effects magic. Try Face Light in the Quick pack or Warm Beauty in the Essentials pack. Purchase the Black and White pack and try Hi-Con Glow for old-fashioned glamour.</string>
		<string>Make colors pop===Grab those eyeballs and don't let go! The Pop look in the Quick pack adds saturation for intense colors, or purchase the Popular Film pack and apply Epic.</string>
	<string>The colors of battle===Give your neighborhood game of tug-of-war the same look as classic war films. Choose looks like Bleach Bypass or Cinematic from the Essentials pack to capture the look of movies like Saving Private Ryan or other epic conflicts. Or purchase the Blockbusters pack for looks from a whole range of action movies.</string>
	<string>Portrait secrets===Children and pets are notoriously hard to capture on video. Wear a funny hat or keep a small squeaky toy in your pocket to keep all eyes on you. And make sure you're ready to shoot when the right moment comes.</string>
	<string>Quiet on the set!===Unless you're the narrator of your own documentary, stay silent while shooting mobile video. Let the audio in the scene tell the story.</string>
	<string>Perfect pre-roll===Veteran cameramen always start shooting well before the action starts. It's much easier to trim the beginning of a clip than to kick yourself for missing the shot while fumbling with the device.</string>
	<string>Establish context===Remember that your viewer doesn't know where you're shooting. Take a few establishing shots of iconic skylines, signs for the local park or city limits, or theater marquees, and let the images tell your viewer what to expect.</string>
	<string>Edit, edit, edit.===Movie Looks can give your footage the same colors as Hollywood movies, but good editing lets you tell the whole story. Use apps like iMovie or Splice to trim and sequence footage and finishing touches like titles and a soundtrack.</string>
</array>
</plist>
